/* body{
  padding: 0%;
} */

.linknavbar {
  padding-top: 12px;
  color: #000;
  font-family: Helvetica;
  font-size: 14;
  line-height: 20px;
}
.box {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}
.tombolnav {
  background-color: #5cb85f;
  color: white;
}
.hovernav {
  transition: 0.5s;
  border-radius: 2px;
}
.hovernav:hover {
  background-color: lightblue;
}
.hovernav:hover a {
  color: #000;
}
#us {
  position: absolute;
  top: 1000px;
}
#our {
  position: absolute;
  top: 450px;
}
#tes {
  position: absolute;
  top: 1400px;
}
#faq {
  position: absolute;
  top: 2450px;
}
.judul {
  font-weight: bold;
  font-family: Helvetica;
  margin-top: 155px;
  font-size: 36px;
  line-height: 54px;
}
.bawahjudul {
  font-family: Helvetica;
  margin-top: 10px;
  width: 450px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.tombolsewa {
  background-color: #5cb85f;
  border-radius: 2px;
  color: white;
  transition: 0.5s;
}
.tombolsewa:hover {
  background-color: lightblue;
}
.gambarmobil {
  margin-top: 50px;
  width: 660px;
  position: absolute;
}
.atas {
  margin-top: 50px;
  height: 425px;
}
.ourservice {
  margin-top: 120px;
  height: 450px;
}
.ourservice .col {
  position: relative;
}
.gambarorang {
  position: absolute;
  width: 459px;
  height: 428px;
  right: 50px;
}
.deskripsi1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 468px;
  height: 356px;
  left: 50px;
  top: 30px;
}
.deskripsi1 h1 {
  position: static;
  height: 72px;
  left: 0%;
  right: 0%;
  top: 0px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
  margin-top: 24px;
  margin-bottom: 0;
}
.deskripsi1 .isi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 468px;
  height: 260px;
  left: 0px;
  top: 96px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
  margin-top: 0;
}
.deskripsi1 .isi p {
  position: static;
  width: 450px;
  height: 60px;
  left: 0px;
  top: 0px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  margin-bottom: 0;
}
.deskripsi1 .isi ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 295px;
  height: 184px;
  left: 0px;
  top: 76px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
  margin-top: 10px;
  list-style: none;
}
.deskripsi1 .isi ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 279px;
  height: 5px;
  left: 0px;
  top: 160px;

  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 16px 0px;
}
.deskripsi1 .isi ul li p {
  position: static;
  width: 300px;
  height: 20px;
  left: 40px;
  top: 2px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  color: #000000;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
  margin-left: 0;
}
.gambarlist {
  border-radius: 100%;
  background-color: #cfd4ed;
  display: flex;
  justify-content: center;
  align-items: center;

  position: static;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 16px;
  transition: 0.5s;
}
.gambarlist i {
  color: #0d28a6;
  transition: 0.5s;
}
.deskripsi1 .isi ul li:hover .gambarlist {
  background-color: white;
}
.deskripsi1 .isi ul li:hover i {
  font-size: 30px;
}
.whyus {
  position: relative;
  height: 300px;
  margin-top: 120px;
}
.whyus h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}
.whyus p {
  margin-top: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}
.whyus .list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}
.whyus .list .gambar {
  border-radius: 100%;
  position: static;
  width: 32px;
  height: 32px;
  left: 24px;
  top: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  margin-left: 15px;

  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.whyus .list h5 {
  position: static;
  width: 200px;
  height: 20px;
  left: 24px;
  top: 72px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #000000;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
  margin-top: -10px;
}
.whyus .list p {
  position: static;
  width: 220px;
  height: 40px;
  left: 24px;
  top: 112px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  color: #000000;

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 16px 0px;
}
.whyus .list .card {
  transition: 0.5s;
}
.whyus .list .card:hover {
  background-color: lightblue;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.33);
}

/* ============================ */

.testi {
  margin-top: 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0%;
}
.testi h1 {
  height: 36px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  text-align: center;

  color: #000000;
}
.testi p {
  height: 20px;
  margin-top: 20px;
  margin-bottom: 30px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #000000;
}
.testi .container-fluid {
  overflow: hidden;
}
.testi .isi {
  width: 619px;
  height: 270px;
  background-color: #f1f3ff;
  border-radius: 5px;
  margin: auto;
  position: relative;
  transition: 0.5s;
}
.testi .isi:hover {
  background-color: lightblue;
}
.testi .t1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
  text-align: left;
  width: 400px;
  position: absolute;
  right: 40px;
  top: 70px;
}
.testi .t2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: left;
  position: absolute;
  left: 179px;
  bottom: 45px;
  font-weight: 600;
}

/* =============================== */

.testi .gambar1 {
  position: absolute;
  top: 65px;
  left: 180px;
}
.testi .gambar1 i {
  color: #f9cc00;
}
.testi .gambar2 {
  position: absolute;
  left: 60px;
  top: 90px;
}
.testi .bt {
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin: auto;
  margin-top: 30px;
}
.testi .bt1 {
  border-radius: 100%;
  border: 1px solid black;
  width: 27px;
  cursor: pointer;
  transition: 0.5s;
}
.testi .bt1 i {
  transition: 0.5s;
}
.testi .bt1:hover {
  background-color: #5cb85f;
  border: 1px solid #5cb85f;
}
.testi .bt1:hover i {
  color: white;
}
.cta {
  margin-top: 150px;
  background-color: #0d28a6;
  height: 326px;
  border-radius: 13px;
  text-align: center;
  padding-top: 50px;
}
.cta h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;

  text-align: center;
  margin: auto;

  color: #ffff;
}
.cta p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  width: 450px;
  margin: auto;
  margin-top: 30px;

  color: #ffffff;
}
.btcta {
  margin-top: 40px;
  background-color: #5cb85f;
  color: white;
  border-radius: 2px;
  transition: 0.5s;
}
.btcta:hover {
  background-color: lightblue;
}
.faq {
  margin-top: 100px;
}
.faq h1 {
  height: 36px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}
.faq p {
  height: 20px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}
.footer {
  margin-top: 150px;
}
.footer .colom1 p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #000000;
}
.footer .colom2 {
  position: relative;
}
.footer .colom2 .list {
  position: absolute;
  left: 50px;
}
.footer .colom2 {
  position: relative;
}
.footer .colom2 p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}
.footer .colom3 p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}
.footer .colom3 .gambar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 220px;
}
.footer .colom3 .gambar .icon {
  cursor: pointer;
  border-radius: 100px;
  background-color: #0d28a6;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.footer .colom3 .gambar .icon:hover {
  background-color: white;
}
.footer .colom3 .gambar .icon:hover .fa-facebook-f {
  color: #3b5998;
}
.footer .colom3 .gambar .icon:hover .fa-instagram {
  color: #c13584;
}
.footer .colom3 .gambar .icon:hover .fa-twitter {
  color: #00acee;
}
.footer .colom3 .gambar .icon:hover .fa-envelope {
  color: #ea4335;
}
.footer .colom3 .gambar .icon:hover .fa-twitch {
  color: #6441a5;
}
.footer .colom3 .gambar i {
  color: white;
  font-size: 20px;
}
.footer .colom4 {
  position: relative;
}
.footer .colom4 .isi {
  position: absolute;
  left: 40px;
}
.footer .colom4 p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}
.footer .colom4 .kotak {
  width: 100px;
  height: 34px;
  left: 873px;
  top: 36px;
  background-color: #0d28a6;
}

/* =================================================== */

.filter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
.filter .kotak{
  background-color: white;
  z-index: 999;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.296);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  font-size: 13px;
  color: gray;
}
.tampilanlist p{
  text-align: left;
}
.tampilanlist h5{
  text-align: left;
}
.tampilanlist .card-body{
  position: relative;
  height: 380px;
}
.tampilanlist img{
  overflow-y: hidden;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.tampilanlist .statusM{
  display: flex;
}
.tampilanlist .statusM .icon{
  margin-right: 10px;
}
.tampilanlist .btlist{
  background-color: #5cb85f;
  color: white;
  border-radius: 2px;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  font-weight: 500;
}
.tampilanlist .btlist:hover{
  background-color: lightblue;
  color: black;
}